.app-d-none {
  display: none;
}
.app-d-block {
  display: block;
}
.app-d-inline {
  display: inline;
}
.app-d-inlblc {
  display: inline-block;
}
.app-v-hidden {
  visibility: hidden;
}
.app-v-vis {
  visibility: visible;
}
.app-p-relative {
  position: relative;
}
.app-p-absol {
  position: absolute;
}